body {
	margin: 0;
}
.all-secs {
	margin: 0;
	padding: 40px;
}
#sec1 {
	background: #696969;
    color: #fff;
		font-size: 20px;
}
#sec2 {
	background: #D3D3D3;
		color: #fff;
		font-size: 20px;
}
img {
	opacity: 0.7;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5px;
	padding: 10px;
	animation: slide 4s infinite;
}
#button{
  display: block;
}
@media (max-width: 600px) {
img {
max-width: 100%;
margin: 0;
}
